*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    min-height: 5vh;
    background-color: #22577e;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 1rem;
    padding: 1rem;
    transition: all .3s;
}

nav ul li a {
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

nav ul li:hover{
    background-color: #0a89e4;
}

main{
    min-height: 90vh;
    background-color: #5584ac;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

form{
    margin-bottom: 1rem;
}

input{
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

input[type="submit"]{
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #22577e;
    color: #fff;
    transition: all .3s;

    &:hover{
        background-color: #164363;
    }
}

main ul li {
    background-color: #fff;
    margin: 0.5rem 0;
    width: 20rem;
    padding: 0.5rem 0.8rem;
    transition: all .3s;
    border-radius: 0.5rem;
    font-weight: 500;
}

main ul li:hover{
    background-color: #000;
    color: #fff;
}

footer{
    min-height: 5vh;
    background-color: #22577e;
    color: #fff;
}

